


.toolbar{
  width : 100%;
  height: 50px;
  background-color: orange;
  color : white;
}

.toolbar-title{
  float: left;
  margin-top: 15px;
  margin-right: 13px;
  text-decoration: none;
  height: auto;
  color : Black;
  font-weight: bold;
}

.toolbar-item{
  height: 40px;
  margin : 5px;
  float:left;
}
.toolbar-link{
  float: right;
  margin-top: 15px;
  margin-right: 13px;
  text-decoration: none;
  height: auto;
  color : Black;
  font-weight: bold;
}

.toolbar-button{
  float: right;
  margin-top: 15px;
  margin-right: 13px;
  text-decoration: none;
  height: auto;
  color : black;
  font-weight: bold;
}

.conversor{
  padding: 50px;
}

input[name="Sequence"] {
    width: 100%;
    height: auto;
    margin: 10px 5;
    box-sizing: border-box;
}
